doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title project-11
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')
    link(rel='stylesheet' href='./../../css/style.css')
    link(rel='stylesheet' href='./../../css/productView.css')

    include _header
    script(src="./../../js/jquery-latest.js") 
    script(src="./../../js/forall.js") 

    section.check-out-container.d-flex
        .insider
            .checkout-information-fillup
                label.bold-text Checkout
                br
                br
                label Contact Info
                .contact-info
                    input.spacer(type='email' name='' id='order-email' placeholder='email' value=user.email)
                    input.spacer(type='number' name='' id='order-number' placeholder='contact number' value=user.email)
                br
                label Shopping Info
                .contact-info
                    input.spacer(type='text' name='' id='order-username' placeholder='user name'  value=user.name)
                    input.spacer(type='text' name='' id='order-area' placeholder='Area Name')
                    input.spacer(type='text' name='' id='order-address' placeholder='shipping address')
                    .address
                        input.widther.spacer(type='text' name='' id='order-area' placeholder='city')
                        select#select.widther.spacer(name='')
                            option(value='morang') morang
                            option(value='sunsari') sunsari
                            option(value='kathmandu') kathmandu

                <div id="choose_size" style="display:flex;">
                    <div style="display:inline-block; margin:5px; border: 1px solid #ccc; padding: .5rem 2rem 0 2rem; border-radius:5px; user-select: none;"
                        | class="size changeColor">S</div>
                    <div style="display:inline-block; margin:5px; border: 1px solid #ccc; padding: .5rem 2rem 0 2rem; border-radius:5px; user-select: none;"
                        | class="size">M</div>
                    <div style="display:inline-block; margin:5px; border: 1px solid #ccc; padding: .5rem 2rem 0 2rem; border-radius:5px; user-select: none;"
                        | class="size">L</div>
                    <div style="display:inline-block; margin:5px; border: 1px solid #ccc; padding: .5rem 2rem 0 2rem; border-radius:5px; user-select: none;"
                        | class="size">XL</div>
                    <div style="display:inline-block; margin:5px; border: 1px solid #ccc; padding: .5rem 2rem 0 2rem; border-radius:5px; user-select: none;"
                        | class="size">XXL</div>
                </div>


            .checkout-product-display
                label.bold-text Payment
                br
                br
                br
                .payment-container
                    p.payment-text Payment
                    button.place-order#directDesignPlaceOrder Place Order
                br
                .payment-container
                    p.payment-text Summary
                    hr
                    .image-name-size-display.total-payable
                        div
                            img#item-img(src=`` alt=`please reload` height='100vh')
                        .price-tag
                            label(for='material')= viewPrice.type
                    hr
                    .delivery-section
                        label(for='delivery-charge-text') Total Cost 
                        label#material-price.price(for='price')= viewPrice.price
                    hr
                    .delivery-section
                        label(for='delivery-charge-text') Delivery 
                        label.price(for='price') Free



    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

    script(src="./../../js/jquery-latest.js")     
    script(src="./../../js/index.js")    