extends dashbase
block contentDash
    style.
        #table{
            width: 100%;
                margin-top: 1rem;

        }
        tbody{
            height: 20vh;
        }
        tr:nth-child(even) {
            background-color: rgba(150, 212, 212, 0.4);
        }

        @media (max-width: 732px){
            #table{
                width: 300%;
            }
        }

    .container-fluid.pt-4.px-4
        .container-fluid.pt-4.px-4
            table#table.px-2.py-10
                thead
                    tr
                        th SN
                        th Name
                        th Phone no
                        th Address
                        th Color
                        th Size
                        th price
                        th T-shirt Front
                        th T-shirt Back
                        th Sticker 
                        th Date
                        th Send
                tbody
                    each product, i in ordereditem
                        tr 
                            td 
                                .no-of-order#location(style="font-size: 1.1rem;")= i+1 + "."
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.name
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.number
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.city
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.color
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.size
                            td
                                .no-of-order#location(style="font-size: 1.1rem;" data=`${product.price}`)= product.price
                            td
                                .image-of-container(style='height: 15vh; padding: 1rem 1rem;')
                                    img(src=`../images/product/upload/tshirt/front/${product.front}` id="imageFromDB" alt='' style='height: 100%;')
                            td
                                .image-of-container(style='height: 15vh; padding: 1rem 1rem;')
                                    img(src=`../images/product/upload/tshirt/back/${product.back}` id="imageFromDB" alt='' style='height: 100%;')
                            td
                                .d-flex(style='height: fit-content; widthL: fit-content;')
                                    button.send-of-order#sended-stickers(imagesname=`${JSON.stringify(product.sticker)}`) Download All
                            td= new Date(`${product.orderDate}`).toLocaleDateString("en-US", { day: 'numeric', month: 'short', year: 'numeric' })
                            td 
                                input#order_send_status(type="checkbox" style="font-size: 1.1rem;" value=`${product._id}`)

    script(src="../js/jquery-latest.js")
    script.
        const sendedSticker = document.querySelectorAll("#sended-stickers");

        sendedSticker.forEach(el => {
            el.addEventListener("click", () => {
                const imageFileArray = JSON.parse(el.getAttribute("imagesname"));
                imageFileArray.forEach(image => {
                    const link = document.createElement("a");
                    link.href = `../images/product/upload/sticker/${image}`;
                    link.setAttribute("download", image);
                    link.style.display = "none";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
            })
        });


