doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Order Your Design
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css')
    link(rel='stylesheet' href='./../../css/style.css')
    link(rel='stylesheet' href='./../../css/productView.css')

    style.
        .input-file-style {
            display: block;
            width: fit-content;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        } 


        #insert_choosen_design{
            display: flex;
            flex-wrap: wrap;
        }

        /* Style for the container div */
        .container {
            border: 2px solid #007bff; /* Blue border color */
            padding: 5px 14px;
            margin: 2.5px 15px 2.5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            width: fit-content;
        }

        /* Style for the spans inside the container div */
        .container span {
            margin-right: 10px;
        }

        /* Style for the remove button */
        .remove-button {
            font-weight: bolder; 
            cursor: pointer;
            border: none;
            background: transparent;
            color: red; /* Blue color for the button */
            font-size: 18px;
        }

        #insert_choosen_design{
            padding: 0.7rem;
        }


    include ../headers/_header

    script(src="./../../js/jquery-latest.js") 
    script(src="./../../js/forall.js") 

    section.check-out-container.d-flex
        .insider
            .checkout-information-fillup
                label.bold-text Checkout
                br
                br
                label Contact Info
                .contact-info
                    input.spacer(type='text' name='' id='order-username' placeholder='user name'  value=user.name)
                    input.spacer(type='email' name='' id='order-email' placeholder='email' value=user.email)
                    input.spacer(type='number' name='' id='order-number' placeholder='contact number' value=user.email)
                    input.spacer(type='number' name='' id='alt-order-number' placeholder='Alternative Contact Number' value=user.email)

                label Address Info
                .contact-info
                    .address
                        select#state.widther.spacer(name='')
                            each state in states
                                option(value=`${state}`)= state
                        
                        select#district.widther.spacer(name='')
                            each district in districtsOfNepal
                                option(value=`${district}`)= district
                                
                    input.spacer(type='text' name='' id='order-city' placeholder='City: Birathnagar')
                    input.spacer(type='text' name='' id='toll-ward-number' placeholder='Ward Number: 2')
                    .quantity
                        input.widther.spacer(type='text' name='' id='land-mark' placeholder='Land Mark: Rekha Hotel')
                        input.widther.spacer(type='text' name='' id='toll-name' placeholder='toll-name: Godawari Marg')

                <div id="choose_size_and_quantity">
                    <div>
                        <div value="S" class="size changeColor">S</div>
                        <div value="M" class="size">M</div>
                        <div value="L" class="size">L</div>
                        <div value="XL" class="size">XL</div>
                        <div value="XXL" class="size">XXL</div>
                    </div>
                    <div id="choose-quantity">
                        input.order-quantity(type='number' name='' id='order-quantity' placeholder='Quantity' min="1" value="1")
                    </div>
                    <div class="submit-design">
                        <div id="add-qunatity">Add</div>
                    </div>
                </div>

                <div id="insert_choosen_design">
                   
                </div>
                

                div.payment
                    br
                    .payment-container
                        p.payment-text Summary
                        hr
                        .image-name-size-display.total-payable
                            table(style="width:100%" border=".5" borderColor="#b1afaf") 
                                thead
                                    tr
                                        th Front Design 
                                        th Back Design
                                        th Material Price
                                        th Item Price

                                tbody
                                    td  
                                        img#designImageDisplayBack(src=`` alt=`cannot find the image` height='100vh')
                                    td 
                                        img#designImageDisplayFront(src=`` alt=`cannot find the image` height='100vh')
                                    td(style='padding-left:10px')
                                        label#material(for='price')= `800` 
                                    td(style='padding-left:10px')
                                        .price-tag
                                            label#item-price(for='price')= 800

                        hr
                        br
                        label Insert Designs
                        input.input-file-style#inserted-stickers(type="file" name="sticker-name" accept="image/png, image/jpeg" multiple)


                    .payment-container
                        .delivery-section
                            label(for='referralCode') Referral Code 
                            input#referralCode(type="text" name="referralCode" style="padding-left: .4rem;  font-weight: bold; height: 3vh")
                        div 
                            button#apply-referral-code(type="submit" style=" cursor: pointer; letter-spacing: 1px; font-size: 1.1rem; border-radius: .4rem; background: #ff3f6c; border-top-color: transparent; border-left-color: transparent; transparent; width: 100%; color: white; height: 5vh") 
                                | Apply Referral Code


            .checkout-product-display
                label.bold-text Payment
                br
                br
                br
                .payment-container
                    p.payment-text Payment
                    hr
                    p.payment-text Esewa
                    img(src="./../../images/esewa.jpeg" alt="" style="height:80%; width:80%")

                br
                .payment-container
                    .delivery-section
                        label(for='delivery-charge-text') Delivery 
                        label.price(for='price') Free
                    hr
                    div
                        label Payment Proof
                        div 
                            br
                            input#payment-proof.input-file-style(type="file" name="")
                    br
                    hr
                    .total-payable(style="display:flex")
                        button.place-order#directDesignPlaceOrder(style="letter-spacing: 1px;") Place Order



    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer")

    script(src="./../../js/jquery-latest.js")     
    script(src="./../../js/index.js")