extends base

block content
    script(src="./js/forall.js")
    style.
        video {
            width: 100%;
            object-fit: cover;
            z-index: -1;
            filter: brightness(0.7) contrast(0.7);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            cursor: default;
        }

        .heroContent{
            position:absolute;
            top: 50%;
            left: 5%;
            color:white;
        }

        .heroContent div p{
            color: white;
        }

        @media screen and (max-width: 1280px){
            .heroContent{
                position: absolute;
                top: 10%;
                left: 5%;
            }

            .heroContent div *{
                color: white;
            }

            .heroContent div p{
                font-size:
            }
        }
        @media (min-width: 584px) and (max-width: 1280px){
            .heroContent{
                position: absolute;
                top: 15%;
                left: 5%;
            }
        }   
        @media (min-width: 712px) and (max-width: 1280px){
            .heroContent{
                position: absolute;
                top: 20%;
                left: 5%;
            }
        }     

    .container-fluid.p-0.hero-section
        div
            // Video element
            <video autoplay loop muted>
                <source src="./video/cover_vid.mp4" type="video/mp4" />
            </video> 

        .heroContent
            div
                p.design= landing_page.highlightText
                hr.main-hr
                p.production= landing_page.supportingText
                .button-div
                    button.heroBtn(onclick="window.location.assign('/design')" style="cursor: pointer;") GET STARTED


    section.made-by-creators
        br
        br
        h1 Our Products
        .made-by-creator-container
            each productAdmin in adminDesign
                .made-by-creators-div
                    .product-image
                        img(src=`./images/product/upload/tshirt/front/${productAdmin.front}` alt='IMAGE CANNOT LOAD')
                    hr.hr
                    .product-information
                        br
                        p= productAdmin.title
                        br
                        br
                        .product-price-and-buy(style="display: flex; align-items: baseline;")
                            p.price= productAdmin.price
                            a(href=`product/${productAdmin.slug}`)
                                button.buy-button BUY
                        br

    br
    br
    br
    section.trust-section
        br
        .trust-text
            p.trust-text Trusted by Millions
        br
        br
        .trust-count
            .merch
                .numbers
                    p 000+
                .number-heading
                    p Total Merch

            .merch
                .numbers
                    p 000+
                .number-heading
                    p Might Be anything

            .happy-user
                .numbers
                    - let totaluser = totalUsers.length;
                    if totaluser<10 
                        p= `00${totaluser}+`
                    else if totaluser<100
                        p= `0${totaluser}+`
                    else
                        p= `${totaluser}+`

                .number-heading
                    p Happy customer
    br
    br
    br
    br
    section.fast-delivery-img
        img(src='./../images/fast_delivery.png' alt='')
    br
    
    .container-fluid.p-0
            <video autoplay loop muted>
                <source src="./video/mearch_branding.mp4" type="video/mp4" />
            </video> 
    
    section.contact-us-today
        p Contact Us Today!
    section.contact-form
        .location-information
            .title-continer.Address(style= "width: fit-content; text-align:center;")
                .contact-title(style= "margin-bottom: 2.5rem;") Contact Us
                .contact-sologon(style= "margin-bottom: 1.5rem; font-size: 17px; width: 26rem") We are ready to convert your dream into reality. Just get in Touch with us!
                .location-icon(style= "margin-bottom: 1.5rem;") <i class="bi bi-geo-alt-fill"></i>
                .district shankamal, Kathmandu,
                .state Bagmati Province, 44600
                .whatsapp(onClick="window.location.assign('/')" style="cursor: pointer; margin-top: 2.5rem ")
                    i(class="bi bi-whatsapp" style="font-style:initial;") &nbsp +977 9766684058
                .whatsapp(onClick="window.location.assign('/mail')" style="cursor: pointer; margin-bottom: 2.5rem")
                    | @kalakar.onrender.com

        .form-section
            .title-continer
                p.form-title Leave a message
            .information-fillup
                input(type='text' name='' id='' placeholder='name' style="padding-left:.5rem;")
                input(type='email' name='' id='' placeholder='email' style="padding-left:.5rem;")
                input(type='number' name='' id='' placeholder='number' style="padding-left:.5rem;")
                textarea(name='' id='' cols='30' rows='10' placeholder='message' style="height: 10vh; padding-left:.5rem;")
                button.contact-submit(type='submit') Submit

    script(src='./../js/index.js')